body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#top_bar {
	right:0;
	margin-top: 15px;
	text-align: right;
	}

.gmail_images {
padding: 0 30px 0 30px;
box-sizing: border-box;
}

.link_top a {
	color: black;
	text-decoration: none;
	font-family: arial, sans-serif;
	font-size: 13px;
}

.link_top a:hover {
	text-decoration: underline;
}

.link_top {
	display: inline-block;
	vertical-align: middle;
	padding-left: 12px;
	opacity: 0.85;
}

.apps {
	background-image: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
	background-repeat: no-repeat;
	background-position: -132px -38px;
	background-position-x: -132px;
	background-position-y: -38px;
	background-size: 528px 68px;
	height: 30px;
	width: 30px;
	vertical-align: middle;
	display: inline-block;
	box-sizing: border-box;
	opacity: 0.5;
	margin-left: 10px;
	margin-right: 10px;
}

.apps:hover {
	opacity: 1;
}

.login_button {
	display: inline-block;
	box-sizing: border-box;
	padding: 0 15px 0 15px;
	background-color: rgb(66, 133, 244);
	height: 30px;
	border-radius: 2px;
	vertical-align: middle;
}

#login{
	color: white;
	text-decoration: none;
	display: inline-block;
	vertical-align: bottom;
	cursor: default;
	font-family: arial;
	font-size: 13px;
	font-weight: bold;
	box-sizing: border-box;
	line-height: 28px;
	text-align: center;
}

#content {
	padding: 150px;
}

#google {
	background-image: url("https://www.google.fr/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png");
	height: 92px;
	width: 272px;
	display: block;
	margin: 0 auto;
}

#logo_subtext {
	font-size: 16px;
	font-family: "roboto-regular",arial,sans-serif;
	color: rgb(66, 133, 244);
	position: relative;
	left: 215px;
	top: 74px;
}

#search_form_container {
	padding-top: 30px;
	margin: 0 auto;
	display: block;
	width: 559px;
}

#search_form {
	background-color: white;
	width: 559px;
	height: 39px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	overflow-x: hidden;
	padding: 5px 9px 0 16px;
}

#search_form:hover {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 8px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#search_input {
	border: none;
	width: 100%;
	height: 34px;
	font-family: arial;
	font-size: 16px;
}

#search_buttons {
	position: relative;
	margin-top: 30px;
}

.buttons {
	color: #757575;
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	border: none;
	height: 36px;
	min-width: 54px;
	padding: 0 16px 0 16px;
	margin: 5px 2px 11px 2px;
	background-color: #F4F4F4;
	border-radius: 2px;
	line-height: 27px;
	box-sizing: border-box;
	border: solid transparent 1px;
}

.buttons:hover {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	border: solid rgb(198, 198, 198) 1px;
	box-sizing: border-box;
}

.bottom_bar {
	box-sizing: border-box;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 40px;
	/*padding:0 15px 0 15px;*/
	padding-left: 15px;
	padding-right: 15px;
	background-color: #F4F4F4;
	border-top: solid #E4E4E4 1px;
}

.bottom_bar a {
  color: #757575;
	font-family: arial;
	font-size: 13px;
	text-decoration: none;
	display: inline-block;
	line-height: 39px;
	padding: 0 15px 0 15px;
	box-sizing: border-box;
}

.bottom_bar a:hover {
	text-decoration: underline;
}

.link_bottom_right {
	float: right;
	}