#wrapper {
	position: absolute;
	width: 100%;
}

.main {
text-align: center;
padding: 200px;
}

#logo {
	width: 272px;
	height: 92px;
	background: url("https://www.google.fr/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png") no-repeat;
	margin: 0 auto;
}

#region {
	position: relative;
	top:74px;
	left: 106px;
	font: 16px/16px roboto regular, arial, sans-serif;
	color: #4285f4;
}

#form {
	padding: 5px 0;
}

#searchbar {
	border: solid 1px #d9d9d9;
	max-width: 584px;
} 

.nav {
	height: 30px;
	float: right;
	padding: 20px 20px 0 0;
}

.nav a {
	margin-right: 10px;
	color: black;
}

a {
	font: 0.75em sans-serif;
	text-decoration: none;
	color: #5C5C5C;
}
a:hover {
	text-decoration: underline;
}

.footer {
	clear: both;
}